{% extends '::base.html.twig' %}

{% block main_content %}
	<div class="navbar navbar-fixed-top">
	    <div class="navbar-inner">
	    	<div class="container">
		        <a class="brand" href="{{ path('imobile_website_default_index') }}">iMobile</a>
		        {% block main_menu %}
		        	{{ knp_menu_render('WebsiteBundle:Builder:mainMenu', {'nav_type': 'navbar', 'allow_safe_labels': true}) }}
		        {% endblock %}

		        {% block right_menu %}
		        	{{ knp_menu_render('WebsiteBundle:Builder:rightMenu', {'nav_type': 'navbar', 'pull': 'right', 'allow_safe_labels': true}) }}
		        {% endblock %}
		    </div>
	    </div>
	</div>
	{% block content %}{% endblock %}
{% endblock %}

{% block footer %}
    <footer class="footer">
        <div class="container">
            <p>Designed and built with all the love in the world by 
                <a href="http://twitter.com/mdo" target="_blank">@mdo</a> and 
                <a href="http://twitter.com/fat" target="_blank">@fat</a>.
            </p>

            <p>Code licensed under 
                <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache License v2.0</a>, documentation under 
                <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.
            </p>

            <p>
                <a href="http://glyphicons.com">Glyphicons Free</a> licensed under 
                <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.
            </p>

            <ul class="footer-links">
                <li>
                    <a href="http://blog.getbootstrap.com">Blog</a>
                </li>

                <li class="muted">·</li>

                <li>
                    <a href="https://github.com/twitter/bootstrap/issues?state=open">Issues</a>
                </li>

                <li class="muted">·</li>

                <li>
                    <a href="{{ path('sonata_admin_dashboard') }}">Administrar</a>
                </li>
            </ul>
        </div>
    </footer>
{% endblock %}

{% block javascripts %}
	{% javascripts
	    '@WebsiteBundle/Resources/public/js/main.js'
        '@WebsiteBundle/Resources/public/js/bootstrap/*.js'
	%}
		<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}